carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.carousel-caption{
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
     font-size: 60px; 
     color: orangered;
}

.carousel-caption p{
    font-size: 32px;
    color: black;
}

.slider-btn{
    margin-top: 30px;
    color: orangered;
}

.bodybg{
    background-image: url(../carousel\ images/bg1.jpeg);
}

.fnames{
    color: hotpink;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    background: white;
    
}

.names{
    color:blue;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    background: white;
    margin-top: 20px;
}

